.header {
  border-bottom: 2px solid #ECF3FF;
  margin: 0 0 25px 0;
  &__top {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-top-menu {
    display: flex;
    &__block {
      margin: 0 30px 0 0;
    }
    &__link {
      color: #5D6C7B;
      text-decoration: none;
      font-size: 12px;
      line-height: 17px;        
    }
  }
  .block-social img{
    margin: 0 8px 0 0;
  }
  .header-contact {
    display: flex;
    flex: 0 0 150px;

    &__phone {
      font-size: 12px;
      line-height: 22px;
      font-weight: bold;
      color: #282739;
    }
    &__phone-icon {
      margin: 0 0 0 8px;
    }
  }

  &__middle {
    margin: 20px 0 35px 0;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header-logo {
      width: 165px;
    }
    .header-catalog {
      margin: 0 20px 0 0;
    }
    .menu-catalog {
      padding: 12px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-blue-color;
      color: #fff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      &__icon {
        margin: 0 15px 0 0;
      }
    }
    .header-search {
      height: 40px;
      border: 1.5px solid $main-blue-color;
      border-radius: 5px;
    }
    .header-search {
      max-width: 605px;
      .wrapper {
        display: flex;
        align-items: center;
      }
    }
    .form-search {
      display: flex;
      width: 100%;
    }
    .search-dropdown {
      width: 76px;
      height: 36px;
      display: flex;
      margin: 2px 0 0 2px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $bg-color;
      &__label {
        margin: 0 10px 0 0;
        font-size: 14px;
        color: #282739;
      }
      &__icon {
        background-image: url('../../assets/img/header/arrow-down.svg');
        background-repeat: no-repeat;
        width: 8px;
        height: 7px;            
      }
    }
    .searchbar {
      position: relative;
      max-width: 100%;
      
      &__input {
        width: 485px;
        height: 36px;
        border: 0;
        outline: none;
        padding-left: 10px;
      }
      &__input::placeholder {
        font-size: 14px;
        color: #5D6C7B;
      }
      &__submit {
        position: absolute;
        top: -1px;
        right: -2px;
        width: 42px;
        height: 42px;
        border: 0;
        border-radius: 5px;
        background-color: $main-blue-color;
        background-image: url('../../assets/img/header/search-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .header-shopping {
      width: 175px;
      display: flex;
      margin: 0 0 0 47px;
      align-items: baseline;
      &__block {
        margin: 0 5px 0 0;
      }
      &__block img {
        padding: 0 10px 0 0;
      }
      .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
  
  &__menu {
    height: 40px;
    background-color: $bg-color;
  }
  .header-menu {
    &__menu {
      display: flex;
      align-items: center;
      height: 40px;
    }
  }
  .menu-list {
    list-style: none;
    display: flex;
    padding: 0;
    li {
      margin: 0 30px 0 0;
    }
    &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      font-size: normal;
      line-height: 20px;
      color: #282739;
    }
    &__menu-icon {
      background-color: $main-blue-color;
      color: #fff;
      font-size: 10px;
      padding: 5px 7px;
      border-radius: 300px;
      &.bank {
        margin: 0 0 0 8px;
      }
      &.percent {
        background-image: url('../../assets/img/header/percentage.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 0 8px;
        padding: 5px 10px;
      }
    }
  }
}