.header {
  border-bottom: 2px solid #ECF3FF;
  margin: 0 0 25px 0;
  &__top {
    border: 1px solid #ECF3FF;
    .wrapper {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;  
    }
  }
  .header-top-menu {
    display: flex;
    &__block {
      margin: 0 30px 0 0;
    }
    &__link {
      color: #5D6C7B;
      text-decoration: none;
      font-size: 12px;
      line-height: 17px;        
    }
  }
  .block-social img{
    margin: 0 8px 0 0;
  }
  .header-contact {
    display: flex;
    flex: 0 0 150px;
    position: relative;
    z-index: 9;
    &__call {
      display: flex;
      align-items: center;
    }
    &__phone {
      font-size: 12px;
      line-height: 22px;
      font-weight: bold;
      color: #282739;
    }
    &__phone-icon {
      margin: 0 0 0 8px;
    }
  }

  &__middle {
    margin: 20px 0 35px 0;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header-logo {
      width: 165px;
    }
    .header-catalog {
      margin: 0 20px 0 0;
    }
    .menu-catalog__link {
      padding: 12px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-blue-color;
      color: #fff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
    }
    .menu-catalog__link.show{
      background: #8185F9; 
      .menu-catalog__icon {
        background-image: url('../../assets/img/header/catalog-icon-open.svg');
      }
    }
    .menu-catalog__icon {
      background-image: url('../../assets/img/header/catalog-icon.svg');
      background-repeat: no-repeat;
      width: 13px;
      height: 13px;
      margin: 0 15px 0 0;
    }

    .header-search {
      height: 40px;
      border: 2px solid $main-blue-color;
      border-radius: 5px;
    }
    .header-search {
      max-width: 605px;
      .wrapper {
        display: flex;
        align-items: center;
      }
    }
    .form-search {
      display: flex;
      width: 100%;
    }
    .search-dropdown {
      width: 76px;
      height: 36px;
      display: flex;
      margin: 2px 0 0 2px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $bg-color;
      &__label {
        margin: 0 10px 0 0;
        font-size: 14px;
        color: #282739;
      }
      &__icon {
        background-image: url('../../assets/img/header/arrow-down.svg');
        background-repeat: no-repeat;
        width: 8px;
        height: 7px;            
      }
    }
    .searchbar {
      position: relative;
      max-width: 100%;
      
      &__input {
        width: 485px;
        height: 36px;
        border: 0;
        outline: none;
        padding-left: 20px;
      }
      &__input::placeholder {
        font-size: 14px;
        color: #5D6C7B;
      }
      &__submit {
        position: absolute;
        top: -1px;
        right: -2px;
        width: 42px;
        height: 42px;
        border: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $main-blue-color;
        background-image: url('../../assets/img/header/search-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .header-shopping {
      width: 175px;
      display: flex;
      margin: 0 0 0 47px;
      align-items: baseline;
      position: relative;
      z-index: 0;
      &__block {
        margin: 0 5px 0 0;
      }
      &__block img {
        padding: 0 10px 0 0;
      }
      .h-shopping-cart {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
/*       .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 26px;
      } */
    }
  }
  
  /* Overlay category */
  .header-overlay {
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    &__wrapper {
      z-index: 2;
      background-color: #fff;
      display: flex;
      position: absolute;
      top: -35px;
      width: 890px;
      min-height: 270px;
      background: #FFFFFF;
      box-shadow: 0px 10px 30px rgba(111, 115, 238, 0.1);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .catalog-category {
      margin-right: 30px;
      &__list {
        background-color: $bg-color;
        list-style: none;
        padding: 20px 0 20px 20px;
        margin: 10px 10px 0 10px;
        border-radius: 5px;
        width: 235px;
      }
      &__item {
        margin-bottom: 20px;
      }
      &__item:last-child {
        margin-bottom: 0;
      }
      &__icon {
        margin-right: 10px;
      }
      &__link {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #282739;
        p {
          margin: 0;
          padding: 0;
        }
        &.active {
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          color: #6F73EE;
        }
        &:hover {
          color: #6F73EE;
        }
      }
    }
    .catalog-subcategory {
      display: flex;
      &__block {        
        margin-right: 70px;
      }
      &__block:last-child {
        margin-right: 0;
      }
      &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #282739;
      }
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &__item {
        margin-bottom: 10px;
      }
      &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #5D6C7B;
      }
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }


  // Shopping cart checkout
  .s-cart-popup {
    max-width: 305px;
    margin-left: 100px;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 34px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px -4px 50px rgba(0, 0, 0, 0.1);
    &__container {
      width: 265px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__top {
      background-color: #F4F7FB;
      height: 56px;
      border-radius: 5px 5px 0 0;
    }
    &__content {
      background-color: #fff;
    }
    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #282739;
    }
    &__info {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #5D6C7B;
    }
    &__content {
      overflow-y: scroll;
      max-height: 210px;
    }
    &__item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #EAEBED;
      padding: 15px 15px;
      &:last-child {
        border: 0;
      }
    }
    &__image {
      margin-right: 0;
    }
    &__details {
      width: 55%;
    }
    &__remove {
      width: 10%;
      cursor: pointer;
    }
    .s-cart-details {      
      &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #282739;
        margin: 0;        
      }
      &__price {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #282739;        
      }
      &__qty {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #282739;
      }
    }
    &__footer {
      background: #FFFFFF;
      box-shadow: 0px -4px 50px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 5px 5px;
      
    }
    .s-cart-footer {
      padding: 20px 0;
      &__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #5D6C7B;
      }
      &__price {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;        
        color: #282739;
        margin: 0;
      }
      &__checkout {
        background-color: #6F73EE;
        border-radius: 5px;
        color: #fff;
        padding: 12px 29px;
        font-size: 12px;
      }
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  /* Call center popup */
  .callcenter-popup {
    max-width: 305px;
    margin-left: 100px;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 34px;
    right: 22px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    box-shadow: 0px -4px 50px rgba(0, 0, 0, 0.1);
    &__container {
      width: 265px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #EAEBED;
      padding: 20px 0 20px 20px;      
      &:last-child {
        border: 0;
      }
    }
    .сс-popup-details {
      &__title {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #5D6C7B;
        margin: 0 0 2px 0;
      }
      &__price {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #282739;        
        margin: 0 0 2px 0;
      }
      &__tel {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #282739;        
      }
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }


  &__menu {
    height: 40px;
    background-color: $bg-color;
  }
  .header-menu {
    &__menu {
      display: flex;
      align-items: center;
      height: 40px;
    }
  }
  .menu-list {
    list-style: none;
    display: flex;
    padding: 0;
    li {
      margin: 0 30px 0 0;
    }
    &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      font-size: normal;
      line-height: 20px;
      color: #282739;
    }
    &__menu-icon {
      background-color: $main-blue-color;
      color: #fff;
      font-size: 10px;
      padding: 5px 7px;
      border-radius: 300px;
      &.bank {
        margin: 0 0 0 8px;
      }
      &.percent {
        background-image: url('../../assets/img/header/percentage.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 0 8px;
        padding: 5px 10px;
      }
    }
  }
}