@import url('Normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');

$main-blue-color: #6F73EE;
$main-black-color: #282739;
$second-color: hsl(210, 14%, 42%);
$bg-color: #F4F7FB;

@import 'General.scss';
@import './components/Header';
@import './components/Products';
@import './components/ProductPage';
@import './components/ShoppingCart';
