body {
  font-family: 'Jost', sans-serif;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ol.breadscrumb__list {
  display: flex;
  list-style: none;
  padding: 0;
  li {
    margin: 0 10px 0 0;
    color: #5D6C7B;
  }
  li.active {
    color: #282739;
  }
  li:first-child:before {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../assets/img/home.svg');
    background-repeat: no-repeat;
    margin: 0 10px 0 0;
    padding: 0 0 0 15px;
  }
  li:before {
    content: '/';
    padding: 0 10px 0 0;
  }
}